
@{
    ViewBag.Title = "Create";
}
@model BillsListASPNET.Models.Item

<h2>Create</h2>
@using (Html.BeginForm("create", "items", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="form-group">
            <label class="control-label">Title</label>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label">Price</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label">Location</label>
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label">Category</label>
            @Html.DropDownListFor(model => model.Category, new SelectList((List<string>)ViewData["categories"]), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label">Body</label>
            @Html.TextAreaFor(model => model.Body, new { cols = 35, @rows = 3, @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="control-label">Image</label>
            <input type="file" id="fileImage" name="fileImage" />
        </div>
    </div>

    <div class="row">
        <input type="submit" value="Save" class="btn btn-default" />
        @Html.ActionLink("Cancel", "My", new object() { }, new { @class = "btn btn-default" })
    </div>
}

